/*
    Layout
    ├── Head
    ├── Header
    └── Footer 
        └── Icons           
*/

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Variables */
:root {
    --accent-color: #7389f4;
    --border-color: #7389f4;
    --font-color: rgb(255, 255, 255);
    --default-width: 50%;
    
}

/* Bottom value */
@media (min-width: 	50px) {:root {--default-width: 95%;}}
/* XS */
@media (min-width: 	475px) {:root {--default-width: 95%;}}
/* SM */
@media (min-width: 	640px) {:root {--default-width: 90%;}}
/* MD */
@media (min-width: 	768px) {:root {--default-width: 80%;}}
/* Lg */
@media (min-width: 	1024px) {:root {--default-width: 70%;}}
/* xl */
@media (min-width: 	1280px) {:root {--default-width: 60%;}}
/* 2xl */
@media (min-width: 	1536px) {:root {--default-width: 50%;}}

#divide-color {border-color:var(--border-color);}

/* Header */
header {color: var(--font-color);}

#header-title:hover {color: var(--accent-color);}
    
#pages-link > a {margin-left: 2rem;}
#pages-link > a:hover {color: var(--accent-color);}

/* Main */
#main-div{
    width: var(--default-width);
}
#hero-section:hover {
    box-shadow: 0px 0px 8px var(--accent-color);
}

/* Main:Index */
#header-tag {
    font-size: 1.5rem;
    text-align: center;
}

/* Projects */
#textblock-div {
    display: flex;
    flex-direction: column;
    border-radius: 0.375rem; /* 6px */
    border: 2px solid;
    width: auto;
    margin: 1rem;
    padding: 1.25rem;
}

#textblock-div:hover {
    box-shadow: 0px 0px 8px var(--accent-color);
}

#textblock-div > p {
    text-indent: 2rem;
    overflow-wrap: break-word;
    margin: 0.25rem 0;
}
#miguel-tag {color: #D8C787;}

/* Footer */
footer {
    /* "bg-zinc-900 bottom-0 left-0 w-full flex justify-between items-center p-4 */
    color: var(--font-color);
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity, 1)) /* #18181b */;
    bottom:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

#trademark {
    flex-grow: 1;
    text-align: center;
    font-weight:100;}

#github-repo {color: var(--accent-color);}
#github-repo:hover {
    color: var(--font-color);
    font-size: 1.1rem;}

/* Social links */
#social-link > a {
    display:flex;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0 0 0 0;}
#social-link > a:hover {
    color: var(--accent-color);
    display:inline-block;
    transform: scale(0.9);}

#frame-div {
    /* class="h-fit bg-cover flex flex-row justify-center items-center" */
    height:fit-content;
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color: var(--font-color);
}

