/*
    Layout
    ├── Head
    ├── Header
    └── Footer 
        └── Icons           
*/

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Variables */
:root {
    --accent-color: #7389f4;
    --border-color: #7389f4;
    --font-color: rgb(255, 255, 255);
    --default-width: 50%;
}

/* Bottom value */
@media (min-width: 	50px) {:root {--default-width: 95%;}}
/* XS */
@media (min-width: 	475px) {:root {--default-width: 95%;}}
/* SM */
@media (min-width: 	640px) {:root {--default-width: 90%;}}
/* MD */
@media (min-width: 	768px) {:root {--default-width: 80%;}}
/* Lg */
@media (min-width: 	1024px) {:root {--default-width: 70%;}}
/* xl */
@media (min-width: 	1280px) {:root {--default-width: 60%;}}
/* 2xl */
@media (min-width: 	1536px) {:root {--default-width: 50%;}}

#divide-color {border-color:var(--border-color);}

/* Header */
header {color: var(--font-color);}

#header-title:hover {color: var(--accent-color);}
    
#pages-link {margin-left: 2rem;}
#pages-link:hover {color: var(--accent-color);}

/* Main */
#main-div{
    color: var(--font-color);
    width: var(--default-width);
}

.hover-shadow:hover {box-shadow: 0px 0px 8px var(--accent-color);} 

/* Main:Index */
#header-tag {font-size: 2rem;}

/* Projects */
#miguel-tag {color: #D8C787;}

/* Footer */
footer {color: var(--font-color);}

#github-repo {color: var(--accent-color);}
#github-repo:hover {color: var(--font-color);}

#social-link {margin-left: 1rem;}
#social-link:hover {color: var(--accent-color);} /* Social links */

